{% extends "base.html" %}

{% block content %}

<h3>Add New Client</h3>

<form action="" method="post">
    {{ form.errors }}
    <table width="100%" class="table-condensed">
      <tr><td class="caption">{{ form.company.label_tag }} </td><td> {{ form.company.errors }}  {{ form.company }}</td></tr>
      <tr><td class="caption">{{ form.address1.label_tag }} </td><td> {{ form.address1.errors }}  {{ form.address1 }}</td></tr>
      <tr><td class="caption">{{ form.address2.label_tag }} </td><td> {{ form.address2.errors }}  {{ form.address2 }}</td></tr>
      <tr><td class="caption">{{ form.city.label_tag }} </td><td> {{ form.city.errors }}  {{ form.city }}</td></tr>
      <tr><td class="caption">{{ form.prov.label_tag }} </td><td> {{ form.prov.errors }}  {{ form.prov }}</td></tr>
      <tr><td class="caption">{{ form.postcode.label_tag }} </td><td> {{ form.postcode.errors }}  {{ form.postcode }}</td></tr>
      <tr><td class="caption">{{ form.country.label_tag }} </td><td> {{ form.country.errors }}  {{ form.country }}</td></tr>
      <tr><td class="caption">{{ form.status.label_tag }} </td><td> {{ form.status.errors }}  {{ form.status }}</td></tr>
      <tr><td class="caption">{{ form.remark.label_tag }} </td><td> {{ form.remark.errors }}  {{ form.remark }}</td></tr>
    </table>
    {% csrf_token %}
    <input type="submit" value="Add" />
</form>

{% endblock %}

