{% extends "base.html" %}

{% block content %}

<h3>{{ object.company }}</h3>
<table class="table-condensed">
<tr><td class=caption>Address 1:</td><td>{{ object.address1 }}</td></tr>
<tr><td class=caption>Address 2:</td><td>{{ object.address2 }}</td></tr>
<tr><td class=caption>City:</td><td>{{ object.city }}</td></tr>
<tr><td class=caption>Province:</td><td>{{ object.prov }}</td></tr>
<tr><td class=caption>Post Code:</td><td>{{ object.postcode }}</td></tr>
<tr><td class=caption>Country:</td><td>{{ object.country }}</td></tr>
<tr><td class=caption>Status:</td><td>{{ object.get_status_display }}</td></tr>
<tr><td class=caption>First Txn Date:</td><td>{{ object.first_txn_date|date }}</td></tr>
<tr><td class=caption>Last Txn Date:</td><td>{{ object.last_txn_date|date }}</td></tr>
<tr><td class=caption>Remark:</td><td>{{ object.remark }}</td></tr>
</table>

<br/>
<a href="{% url "client-list" %}">List</a> | 
<a href="{% url "client-edit" object.id %}">Edit</a> | 
<a href="{% url "client-add" %}">New</a> | 
<a href="{% url "client-delete" object.id %}">Delete</a>

{% endblock %}

