{% extends "base.html" %}

{% block content %}

<h3>Client List</h3>
<ol>
{% for client in object_list %}
    <li><a href="{% url "client-detail" client.id %}">{{ client.company }}</a> - {{ client.address1 }}</li>
{% empty %}
    <li>No client yet.</li>
{% endfor %}
</ol>

<br/>
<a href="{% url "client-add" %}">Add Client</a>

{% endblock %}

