{% extends "base.html" %}

{% block content %}

<h3>Update Client</h3>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>

{% endblock %}

