{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "images/favicon_hi.png" %}">

    <title>{% block title %}PMS{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}{% endblock %}
  </head>

  <body>
    {% block top_menu %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PMS</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'client-list' %}">Client</a></li>
            <li><a href="{% url 'document-search' %}">Document</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Report<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/document/report/ar">A/R Report</a></li>
                </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utility<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% if perms.permission.export %}
                  <li><a href="/client/export">Export Client</a></li>
                  <li><a href="/document/export/all">Export Document</a></li>
                  {% else %}
                  <li class="disabled"><a href="#">Export Client</a></li>
                  <li class="disabled"><a href="#">Export Document</a></li>
                  {% endif %}
                  <li class="divider"><li>
                  {% if perms.permission.backup %}
                  <li ><a href="{% url 'db_download' %}">Download DB</a></li>
                  {% else %}
                  <li class="disabled"><a href="#">Download DB</a></li>
                  {% endif %}
                </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock %}

    <div class="container">
       	{% block content %}{% endblock %}
    </div>

    <script src="{% static "jquery/js/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block script %}{% endblock %}

  </body>
</html>

