body {
  padding-top: 50px;
  background-color: #eee 
}

.caption {
  vertical-align: top;
  font-weight: bold;
}

.about td {
  border: 1px solid black;
  padding-left: 0.5em;
  padding-right: 3em;
}
