{% extends "base.html" %}
{% block title %}PMS {{ version }}{% endblock %}
{% block top_menu %}{% endblock %}
{% block content %}
      <h1>PMS Login</h1>
      <form action="" method="post">{% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Submit" />
      </form>
{% endblock %}
