{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block css %}
    <link href="{% static "jquery-ui/css/jquery-ui.min.css" %}" rel="stylesheet">
    {% endblock %}

{% block script %}
    <script src="{% static "jquery-ui/js/jquery-ui.min.js" %}"></script>
    <script>
    // on page load
    $(document).ready(
      function(){
        $( ".datePicker" ).datepicker( {dateFormat: 'yy-mm-dd'} );
      }
    );
    </script>
    {% endblock %}

{% block content %}

<h3>A/R Report</h3>

<div>

{% if object_list %}
<br>
Count = {{ count }} Grand Total = $ {{ grand_total }}
<table class="table table-striped table-bordered">
  <tr>
    <th>Doc #</th>
    <th>Client</th>
    <th>Date</th>
    <th>Total</th>
  </tr>
  {% for doc in object_list %}
  <tr>
    <td><a href="{% url "document-detail" doc.doc_no %}">{{ doc.doc_no|unlocalize }}</a></td>
    <td>{{ doc.client }}</td>
    <td>{{ doc.doc_date|date:"Y-m-d" }}</td>
    <td style="text-align: right">$ {{ doc.total|floatformat:"2"}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  No outstanding invoice.
{% endif %}

{% endblock %}

