{% extends "base.html" %}

{% block content %}

<h3>Copy Document</h3>
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to copy "{{ object }}"?</p>
    <input type="submit" value="Confirm" />
</form>

{% endblock %}

