{% extends "base.html" %}
{% load l10n %}

{% block content %}

<h3>Document #{{ object.doc_no|unlocalize }}</h3>

<div class="row">
  <div class="col-md-6">
    <table width="100%" class="table-condensed">
      <tr><td width="20%" class="caption">Client:</td><td width="80%">{{ object.client }}</td></tr>
      <tr><td class="caption">Doc Type:</td><td>{{ object.get_doc_type_display }}</td></tr>
      <tr><td class="caption">Doc Date:</td><td>{{ object.doc_date|date:"Y-m-d" }}</td></tr>
      <tr><td class="caption">Subtotal:</td><td>{{ object.subtotal|floatformat:"2" }}</td></tr>
      <tr><td class="caption">GST:</td><td>{{ object.gst|floatformat:"2" }}</td></tr>
      <tr><td class="caption">PST:</td><td>{{ object.pst|floatformat:"2" }}</td></tr>
      <tr><td class="caption">Total:</td><td>{{ object.total|floatformat:"2" }}</td></tr>
      <tr><td class="caption">Paid Date:</td><td>{{ object.paid_date|date:"Y-m-d" }}</td></tr>
      <tr><td class="caption">Paid Ref:</td><td>{{ object.paid_ref }}</td></tr>
      <tr><td class="caption">Status:</td><td>{{ object.get_status_display }}</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <table width="100%" class="table-condensed">
      <tr><td width="20%" class="caption">Doc Note:</td><td width="80%">{{ object.doc_note }}</td></tr>
      <tr><td class="caption">Remark:</td><td>{{ object.remark }}</td></tr>
    </table>
  </div>
</div>

<table class="table">
  <tr>
    <th>Seqno</th>
    <th>SKU</th>
    <th>Desc</th>
    <th style="text-align: right">Qty</th>
    <th style="text-align: right">Unit Price</th>
    <th style="text-align: right">Total</th>
  </tr>
  {% for line in lines %}
  <tr>
    <td>{{ line.seqno }}</td>
    <td>{{ line.sku }}</td>
    <td>{{ line.desc }}</td>
    <td style="text-align: right">{{ line.qty|floatformat:"2" }}</td>
    <td style="text-align: right">{{ line.unit_price|floatformat:"2" }}</td>
    <td style="text-align: right">{{ line.total|floatformat:"2" }}</td>
  </tr>
{% endfor %}
</table>
Total lines = {{ object.documentline_set.all|length }}<br/>

<br/>
<a href="{% url "document-search" %}">List</a> | 
<a href="{% url "document-edit" object.doc_no %}">Edit</a> | 
<a href="{% url "document-add" %}">New</a> | 
<a href="{% url "document-copy" object.doc_no %}">Copy</a> | 
<a href="{% url "document-print" object.doc_no %}">Print</a> | 
<a href="{% url "document-delete" object.doc_no %}">Delete</a>

{% endblock %}

