{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block css %}
    <link href="{% static "jquery-ui/css/jquery-ui.min.css" %}" rel="stylesheet">
    {% endblock %}

{% block script %}
    <script src="{% static "jquery-ui/js/jquery-ui.min.js" %}"></script>
    <script>
    // on page load
    $(document).ready(
      function(){
        $( ".datePicker" ).datepicker( {dateFormat: 'yy-mm-dd'} );
      }
    );
    </script>
    {% endblock %}

{% block content %}

    {% if object.doc_no %}
        <h3>Document #{{ object.doc_no|unlocalize }}</h3>
    {% else %}
        <h3>Add New Document</h3>
    {% endif %}

    <form action="" method="post">
        
        {{ form.errors }}
        <div class="row">
          <div class="col-md-6">
            <table width="100%" class="table-condensed">
              <tr><td class="caption" width="20%">{{ form.client.errors }}{{ form.client.label_tag }}</td><td width="80%">{{ form.client }}</td></tr>
              <tr><td class="caption">{{ form.doc_type.label_tag }} </td><td> {{ form.doc_type.errors }}  {{ form.doc_type }}</td></tr>
              <tr><td class="caption">{{ form.doc_date.label_tag }} </td><td> {{ form.doc_date.errors }}  {{ form.doc_date }}</td></tr>
              <tr><td class="caption">{{ form.gst_apply.label_tag }}</td><td> {{ form.gst_apply.errors }} {{ form.gst_apply }}</td></tr>
              <tr><td class="caption">{{ form.pst_apply.label_tag }}</td><td> {{ form.pst_apply.errors }} {{ form.pst_apply }}</td></tr>
              <tr><td class="caption">{{ form.paid_date.label_tag }} </td><td> {{ form.paid_date.errors }}  {{ form.paid_date }}</td></tr>
              <tr><td class="caption">{{ form.paid_ref.label_tag }} </td><td> {{ form.paid_ref.errors }}  {{ form.paid_ref }}</td></tr>
              <tr><td class="caption">{{ form.status.label_tag }}   </td><td> {{ form.status.errors }}    {{ form.status }}</td></tr>
            </table>
          </div>
          <div class="col-md-6">
            <table width="100%" class="table-condensed">
              <tr><td width="20%" class="caption">{{ form.doc_note.label_tag }}</td><td width="80%">{{ form.doc_note.errors }}{{ form.doc_note }}</td></tr>
              <tr><td class="caption">{{ form.remark.label_tag }}</td><td>{{ form.remark.errors }}{{ form.remark }}</td></tr>
            </table>
          </div>
        </div>

        {{ line_formset.management_form }}
        {{ line_formset.non_form_errors }}
        <table>
        {% for form in line_formset.forms %}
          {% if forloop.first %}
            <tr>
              {% for field in form.visible_fields %}
              <th>{{ field.label|capfirst }}</th>
              {% endfor %}
            </tr>
          {% endif %}
          <tr>
          {% for field in form.visible_fields %}
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
            {% endif %}
            <td>
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>

        {% csrf_token %}
        <input type="submit" value="Save" />

    </form>

    {% endblock %}

