{% extends "base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block css %}
    <link href="{% static "jquery-ui/css/jquery-ui.min.css" %}" rel="stylesheet">
    {% endblock %}

{% block script %}
    <script src="{% static "jquery-ui/js/jquery-ui.min.js" %}"></script>
    <script>
    // on page load
    $(document).ready(
      function(){
        $( ".datePicker" ).datepicker( {dateFormat: 'yy-mm-dd'} );
      }
    );
    </script>
    {% endblock %}

{% block content %}

<h3>Document Search</h3>

<div>
<form action="" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tr><td>{{ form.client.label_tag }}</td><td>{{ form.client }}</td><td>{{ form.client.errors }}</td></tr>
    <tr><td>{{ form.date_from.label_tag }}</td><td>{{ form.date_from }}</td><td>{{ form.date_from.errors }}</td></tr>
    <tr><td>{{ form.date_to.label_tag }}</td><td>{{ form.date_to }}</td><td>{{ form.date_to.errors }}</td></tr>
    <tr><td>{{ form.paid.label_tag }}</td><td>{{ form.paid }}</td><td>{{ form.paid.errors }}</td></tr>
    <tr><td colspan="2">
      <input type="submit" value="Search" />
      <input type="button" onclick="window.location=''" value="Reset"/>
      <input type="button" onclick="window.location='{% url "document-add" %}'" value="New" />
      <input type="button" onclick="window.location='{% url "document-export" %}'" value="Export" />
    </td></tr>
  </table>
</form>
</div>

{% if object_list %}
<br>
Count = {{ count }} | Subtotal = $ {{ subtotal }} | Grand Total = $ {{ grand_total }}
<table class="table table-striped table-bordered">
  <tr>
    <th>Doc #</th>
    <th>Client</th>
    <th>Date</th>
    <th style="text-align: right">Subtotal</th>
    <th style="text-align: right">Total</th>
  </tr>
  {% for doc in object_list %}
  <tr>
    <td><a href="{% url "document-detail" doc.doc_no %}">{{ doc.doc_no|unlocalize }}</a></td>
    <td>{{ doc.client }}</td>
    <td>{{ doc.doc_date|date:"Y-m-d" }}</td>
    <td style="text-align: right">$ {{ doc.subtotal|floatformat:"2"}}</td>
    <td style="text-align: right">$ {{ doc.total|floatformat:"2"}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  No document found.
{% endif %}

{% endblock %}

