{% extends "base.html" %}
{% load staticfiles django_settings %}
{% block title %}PMS - About{% endblock %}
{% block content %}
    <h1>{% django_settings "U_WEBAPP_NAME" %}</h1>
    <table class="about">
    {% for key, value in info.items %}
        <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}
